body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 85px;
  text-align: center;
  background-color: #404041;
}

main {
  padding-bottom: 20px;
  text-align: center;
}

.title {
  margin: auto;
  line-height: 85px;
}

h1 {
  color: #E6E7E8;
  font-size: 3em;
  font-weight: 300;
}

span.title-number {
  color: #ED458B;
  font-weight: 700;
}

.instructionText {
  width: 500px;
  margin: 10px auto;
}

#guessInput {
  box-sizing: border-box;
  display: block;
  width: 375px;
  height: 30px;
  margin: 5px auto;
}

#minRangeValue,
#maxRangeValue {
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 30px;
  margin: 5px 15px;
  outline: none;
}

#minRangeValue:disabled,
#maxRangeValue:disabled {
  background-color: #D0D2D3;
  cursor: not-allowed;
}

.boom {
  background-image: url('images/boom-graphic.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

input.userInput:placeholder-shown,
.userInput {
  text-align: left;
  color: #929497;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  outline: none;
}

.interactionButtons {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.errorMessages {
  color: red;
  font-weight: 700;
  margin: 0 auto;
  height: 25px;
  line-height: 25px;
}

.guessMessageTop,
.guessMessageBottom {
  box-sizing: border-box;
  font-size: 30px;
  height: 40px;
}

.guessMessageTop {
  margin: 20px auto 0;
}

.guessMessageBottom {
  margin: 0 auto 20px;
}

.guessValue {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px 0;
  color: #ED458B;
  font-size: 110px;
  width: 300px;
  height: 200px;
  line-height: 200px;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  text-decoration: none;
  color: #FFF;
  background-color: #929497;
  border: 0px;
  border-radius: 30px;
  font-family: inherit;
  font-size: 1.1em;
  outline: none;
}

.button:hover {
  background-color: #EB008B;
  cursor: pointer;
}

.button:disabled {
  background-color: #D0D2D3;
  cursor: not-allowed;
}

.guessButton,
.clearButton {
  width: 177px;
  margin-right: 10px;
  margin-left: 10px;
}

.resetButton {
  width: 375px;
  margin: auto;
}

.guessDisplay {
  min-height: 250px;
}

.clearfix:after {
  display: table;
  clear: both;
  content: " ";
}
